html,body {
    height:100%;
    background: white;
}

header {
    display:block;
    background: white;
    padding:10px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    /*Bordes redondeados*/
    border-radius:10px;
    background: rgb(4, 170, 221);
    overflow:hidden;
    padding:10px;
    width:100%;
}

nav ul{
    list-style:none;
    margin:0 100px 0 350px;
    padding:0;
}

nav ul li{
    /*Bordes redondeados*/
    border-radius:5px;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:50px;
    text-align:center;
    /*Sombras para texto*/
    text-shadow: 0px 1px 0px black;
}

nav ul li:hover{
    background: gray;
    border:1px solid black;
}

nav ul li a{
    color: black;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}

nav ul li a:hover {
    color:#000;
}

section {
    width: 79%;
    background:white;
    float: left;
    overflow: auto;
    padding-bottom:30px;
    padding-top:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}

#estructuratext {
    text-align: justify;
}

#italic {
    font-style: italic;
    text-align: justify;
}

aside {
    float: right;
    width: 19%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    padding: 10px 0 0 0;
}

footer {
    position: center;
    height: 60px; 
    padding: 5px;
    clear: both;
    background:  rgb(4, 170, 221);
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

figure {
    display: table; margin: 0 auto;
    font-size: 12px;
}